/* Page Layout */

header {
    position: sticky;
    top: 0;

    z-index: 1000;
}

body {
    margin: 0;
}

/* Global Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #000000;
    padding: 14px 24px;
}

.logo img {
    width: 300px;
}

nav ul {
    display: flex;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;

    color: white;
    text-decoration: none;

    padding: 16px;
}

/* Footer */
footer {
    text-align: center;
    padding: 16px;

    background-color: #333;
    color: white;
}

/* Home Page */
.home-page {
    padding: 80px 16px;
    background-color: #ed3b81;
}

/* Home Page: Library Card */

.library-card {
    max-width: 900px;
    margin: 60px auto;
    padding: 16px;

    border: 10px solid #f4c8df;
    border-radius: 32px;

    background-image: linear-gradient(45deg, #fedfef, #f9fafd);
    box-shadow: 0 16px 12px rgba(125, 3, 77, 0.61);
}

.library-card:hover {
    transform: translateY(-1px);
}

.library-card_top {
    display: flex;
    justify-content: space-between;
    padding: 8px 14px;

    border-bottom: 3px solid #f4c8df;

}

.library-card_top img {
    width: 150px

}

.library-card_bottom {
    display: flex;
    padding: 16px 14px;

}

.barcode {
    width: 400px;
    height: 50px;

    /* barcode pattern */
    background: repeating-linear-gradient(90deg, #a80a5c 0px 2px, transparent 2px 4px, #a80a5c 4px 6px, transparent 6px 8px, #a80a5c 8px 12px, transparent 12px 14px);
}

.library-card_main{
    display: flex;
    gap: 64px;
    padding: 24px;
}

.library-card_image img {
    width: 300px;
    display: block;
}

.library-card_image img:hover {
    transform: translateY(-2px);
}

.library-card_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;

    margin-top: 0;
}

.genre-profile {
    /* Goes across both columns */
    grid-column: 1 / 3;
}

.genre-profile_list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tag {
    min-width: 100px;
    padding: 8px 16px;

    text-align: center;
    border-radius: 8px; 
    border: 2px solid #000000;
    color: black;
    background-color:#09edfb;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 0 #07165d;
}

.tag:hover {
    transform: translateY(-2px);
}

/* Home Page: Description */

.home-description {
    margin: 32px auto;
    padding: 28px;

    color: white;
    text-align: center;
}

/* Books Page */
.books-page {
    background-color: #d4d3d3;
    overflow-x: hidden;
}

/* Games Page */
.games-page {
    background-color: #d4d3d3;
    overflow-x: hidden;
}

/* Hero section wiht page title and description*/

.page-title {
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* Shelf Interface */
.shelf {
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 16px 64px;
    gap: 32px;

    background-color: #221F30;

    overflow: hidden;

}

/* Filter buttons */
.filter {
    display: flex;
    gap: 18px;
    margin-bottom: 16px;
}

.filter button {
    padding: 10px 20px;
    color: white;
    background-color: #000000;
    border: 2px solid white;
}

/* Container for dynamically generated shelf items */

.shelf-items {
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 2128px;
    height: 500px;
    margin: 0;
    
    overflow-x: auto;
    overflow-y: visible;
}

/* Individual shelf item */

.shelf-item {
    position: relative;
    flex: 0 0 auto;
    /* shelf item size management*/
    width: 280px; 
    height: 420px;

    /* 3D-Effect */
    perspective: 700px;
    transform-style: preserve-3d;
    transform: rotateY(26deg);
    transform-origin: right center;

    /* Hover Animation*/
    transition: transform 0.4s ease;
    box-shadow: -20px 32px 32px rgba(0, 0, 0, 0.35);

}

.shelf-item:hover {
    transform: rotateY(24deg) translateY(-12px) translateX(12px) scale(1.05);
}

/* Highlights selected item */
.shelf-item.active {
    transition: transform 0.4s ease;
    transform: rotateY(12deg) translateY(-12px) translateX(22px) scale(1.08);
    z-index: 10;
}


.spine {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    
    /* 3D-rotation and placement of spine */
    transform: translateX(calc(-45px / 2)) 
               rotateY(-75deg)
               translateX(calc(-45px/ 2));
    overflow: hidden;

    background-color: #959595;

    /* Add depth to the book spine */
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.445);

}

.spine img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 

}

/* Simulate reflected light on the media cover */
.cover::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(90deg, rgba(202, 208, 228, 0.266), transparent 40%, rgba(2, 5, 36, 0.31));
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;

}

/* Display for the currently selected item */
.selected-media {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    color: white;
}

.selected-media a {
    color: white;
}

/* Detail View */

.media-details {
    min-height: 90vh;

    padding: 48px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide detail view until a media item has been selected */
.media-details.hidden {
    display: none;
}

/* Ticket container for selected media details */
.media-details_layout {
    position: relative;

    display: grid;
    grid-template-columns: 30% 70%;
    gap: 64px;
    
    width: min(2100px, 90vw);
    min-height: 650px;
    margin: 0 auto;
    padding: 48px 64px;

    background-color: #ed3b81;
    border: 3px solid black;
    
}

/* Vertical decorative line separating cover and content */
.media-details_layout::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;

    border-left: 6px dotted #d4d3d3;
}

/* Upper ticket cutout */
.media-details_layout::after {
    content: "";

    position: absolute;
    left: 30%; /*Same as decorative line*/
    top: -14px;
    width: 28px;
    height: 28px;

    background-color: #d4d3d3;
    border-radius: 50%;
    transform: translateX(-50%);
}

/* Lower ticket cutout */
.ticket-cutout {
    position: absolute;
    bottom: -14px;
    left: 30%; /*Same as decorative line*/
    width: 28px;
    height: 28px;

    background-color: #d4d3d3;
    border-radius: 50%;
    transform: translateX(-50%);
}

/* Cover section inside the ticket */
.media-details_image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center cover visually within the ticket section */
    padding-right: 20%;

}

.media-details_image img {
    width: 360px;
    max-width: 100%;
    display: block;
    margin: 0 auto;

    border: 7px solid #f9fafd;
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.25);
}

/* Text content section of the ticket */
.media-details_content {
    display: flex;
    flex-direction: column;
    padding: 48px;

}

#detail-media-title {
    margin-bottom: 4px;
}

#selected-media-author {
    margin-bottom: 24px;
}

#selected-media-comment {
    line-height: 1.2;
}

/* Increase cover area and reduce ticket size on smaller desktop screens */
@media (max-width: 1440px) {
    .media-details_layout {
        grid-template-columns: 40% 60%;
        min-height: 450px;
        gap: 32px;
        padding: 55px;
    }

    .media-details_layout::before,
    .media-details_layout::after,
    .ticket-cutout {
        left: 40%;
    }
}

/* Quiz Page */
.quiz-page {
    min-height: 100vh;
    background-color: #b9b9b9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quiz {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr auto;

    /* Background will be later replaced by an image*/
    background-color: #09edfb;

}

.quiz-screen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 0;
}

.quiz-questions {
    min-height: 180px;
    padding: 32px;
    margin: 0 auto 32px;
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    background-color: #000000;
    color: white;
    border: 4px solid white;
}

.quiz button {
    min-width: 120px;
    padding: 10px 24px;
    margin: 0 24px;

    font-weight: bold;
    text-transform: uppercase;

    color: white;
    background-color: #000000;
    border: 4px solid white;

    cursor: pointer;
}

.quiz button:hover,
.quiz button:focus {
    color: #000000;
    background-color: white;
}

/* Quiz Result Screen*/
.quiz-results.hidden,
.quiz-section.hidden {
    display: none;
}

.quiz-results {
    min-height: 100vh;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.quiz-results_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: min(900px, 90vw);
}

.quiz-result-card {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 32px;

    background-color: #a80a5c;
    border: 4px solid white;
}


/* Breakpoint 1023px for mobile & tablet layout */
@media (max-width: 1023px) {

    /* Home page - library card */
    /* Convert the horizontal library card into a vertical, stacked layout */
    .library-card {
        max-width: 420px;
        margin: 40px auto;
        padding: 14px;
    }

    .library-card_top {
        align-items: center;
    }

    .library-card_top img {
        width: 120px;
    }

    .library-card_main {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 24px 16px;
    }

    .library-card_image img {
        width: 260px;
        max-width: 100%;
    }

    .library-card_content {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 24px 16px;
    }

    .genre-profile {
        grid-column: 1/3;
    }

    .genre-profile_list {
        justify-content: center;
    }

    .library-card_bottom {
        justify-content: center;
    }

    .barcode {
        width: 100%;
        max-width: 320px;
    }

    /* Detail view - ticket */
    /* Convert ticket into a vertical layout */
    .media-details_layout {
        grid-template-columns: 1fr;
        grid-template-rows: 65% 35%;
        gap: 0;

        width: min(420px, 70vw);
        min-height: 760px;
        padding: 40px 32px;
    }

    /* Move decorative line below the cover */
    .media-details_layout::before {
        top: 65%;
        bottom: auto;
        left: 0;
        right: 0;

        border-left: none;
        border-top: 6px dotted #d4d3d3;
    }

    /* Reposition ticket cutouts to match the horizontal decorative line */
    .media-details_layout::after {
        top: 65%;
        left: -14px;

        transform: translateY(-50%);
    }

    .ticket-cutout {
        top: 65%;
        bottom: auto;
        left: auto;
        right: -14px;

        transform: translateY(-50%);
    }

    .media-details_image {
        padding-right: 0;
        padding-bottom: 32px;
    }

    .media-details_image img {
        width: 300px;
    }

    .media-details_content {
        padding: 32px 16px 0;
    }

}

/* Breakpoint 767px for small mobile screens */
@media (max-width: 767px) {

    /* Home page - library card */
    /* Reduce image size and stack profile information into a single column */

     .library-card_top img {
        width: 80px;
    }

     .library-card_content {
        grid-template-columns: 1fr;
    }

    .genre-profile {
        grid-column: auto;
    } 

    /* Detail view - ticket */
    /* Give the "content section" more space on small screens */
    .media-details_layout {
        grid-template-rows: 60% 40%;
    }

     /* Move the perforation line and cutouts accordingly */
    .media-details_layout::before,
    .media-details_layout::after,
    .ticket-cutout {
        top: 60%;
    }
}
