<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="View the sources and credits for book covers, game covers, icons and other third-party content used throughout the Digital Media Library.">
    <title>Digital Media Library</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <header hx-get="components/header.html" hx-trigger="load" hx-swap="innerHTML"></header>

    <main>

        <section class="info-page">

            <h1>Credits</h1>
            <p>This page lists the sources of media, assets and other third-party content used throughout the website.</p>

        </section>

        <section class="info-content">

            <h2>Book Covers</h2>
            <ul>
                <li>Coming soon...</li>
            </ul>

            <h2>Game Covers</h2>
            <ul>
                <li>Coming soon...</li>
            </ul>

            <h2>Icons & Fonts</h2>
            <ul>
                <li>Coming soon...</li>
            </ul>
        

            <h2>Other Resources</h2>
            <ul>
                <li>Coming soon...</li>
            </ul>
        

        </section>

    </main>

    <footer hx-get="components/footer.html" hx-trigger="load" hx-swap="innerHTML"></footer>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>

    <script src="js/script.js"></script>

</body>
</html>